# Project exclude paths
/consumer_oidc_ldsc/target/
/consumer_oidc_login/target/
/gateway/target/
/provider_oidc_dynamicplan/target/
/provider_oidc_gangjinchang/target/
/provider_oidc_gongcheng/target/
/provider_oidc_gongchengbm/target/
/provider_oidc_gongchengkb/target/
/provider_oidc_gongchengsl/target/
/provider_oidc_gongchengwbs/target/
/provider_oidc_gongxu/target/
/provider_oidc_hrext/target/
/provider_oidc_hunningtu/target/
/provider_oidc_jiliang/target/
/provider_oidc_jingying/target/
/provider_oidc_laowu/target/
/provider_oidc_laowufbs/target/
/provider_oidc_ldsc/target/
/provider_oidc_login/target/
/provider_oidc_pingjiafbs/target/
/provider_oidc_shebei/target/
/provider_oidc_shebeibm/target/
/provider_oidc_shebeigys/target/
/provider_oidc_tuzhi/target/
/provider_oidc_workplan/target/
/provider_oidc_wuzi/target/
/provider_oidc_wuzibm/target/
/provider_oidc_wuzigys/target/
/provider_oidc_yangong/target/
/register/target/
/security_oidc_client/target/
/security_oidc_server/target/
/provider_oidc_ldsc/
