<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <!--/*@thymesVar id="static_path" type="java.lang.String"*/-->
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{${static_path}+'/favicon.ico'}"/>

    <title>OAuth2 Error . OIDC[RP]</title>

    <th:block th:include="fragment/header :: public-css"/>
</head>
<body>

<div th:replace="fragment/header :: public-header"></div>

<div class="container">
    <h3>OAuth2 Error</h3>

    <div class="alert alert-danger">
        <h4 th:text="${error}">error</h4>
        <div th:text="${message}">err</div>
    </div>
</div>


<hr/>
<div th:replace="fragment/footer :: footer-oidc"></div>
</body>
</html>